[Unit]
Description=pH Logger
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=20
ExecStart=/usr/bin/python /home/pi/swmeas/rpi_scripts/log_pH.py

[Install]
WantedBy=multi-user.target
