[Unit]
Description=Dummy Logger
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/usr/bin/python /home/pi/test_script.py

[Install]
WantedBy=multi-user.target