[Unit]
Description=CO2 Logger
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart="/usr/bin/python /home/pi/logging_scripts/log_CO2.py"

[Install]
WantedBy=multi-user.target